[Desktop Entry]
Name=Goblin Doc
Comment=A simple document converter
Exec=/usr/bin/goblin-doc %U
Icon=de.magynhard.GoblinDoc
Terminal=false
Type=Application
Categories=Utility
StartupNotify=false
Keywords=convert;document;pdf;monochrome;